.overall{
	position: relative;	
	padding-bottom: 92px;
	min-height: 560px;
	min-width: 1000px;
}
.footer{
	background-color: #3e475c;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}
.footer p{
	color: darkgray;
	font-family: "微软雅黑";
	font-size: 12px;
	font-weight: 400;
	text-align: center;
}
