*{
	margin: 0;
	padding: 0;
}

body,html{
	width: 100%;
	height: 100%;
}

body{
	background-color: #e7e8eb;
}
header{
	height: 50px;
	background-color: white;
}
header h3{
	float: left;
	line-height: 50px;
	font-family: "微软雅黑";
	font-weight: 500;
	font-size: 24px;
	color: black;
	margin-left: 50px;
	cursor: pointer;
}
header .line{
	float: right;
	height: 30px;
	width: 0;
	border-left: 1px solid lightgray;
	margin-top: 10px;
}
header .login{
	position: relative;
	float: right;
	width: 60px;
	margin-right: 100px;
	padding-left: 20px;
	padding-right: 20px;
	height: 50px;
	color: black;
}
header .login img{
	position: absolute;
	top: 5px;
	left: 20px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	z-index: 12;
	display: none;
}
.xiasanjiao{
	float: right;
	width: 0;
	height: 0;
	margin-top: 20px;
	border: 8px solid white;
	border-top-color: black;
}
header .login span{
	display: block;
	line-height: 50px;
	padding: 0 20px;
	font-family: "微软雅黑";
	font-size: 16px;
}
header .login:hover{
	background-color: #e7e8eb;
	cursor: pointer;
}
header .login:hover .xiasanjiao{
	border-color: #e7e8eb;
	border-top-color: black;
}
header .login ul{
	position: absolute;
	top: 100%;
	right: 0;
	display: none;
	z-index: 10;
}
header .login ul li{
	width: 165px;
	line-height: 36px;
	text-align: center;
	list-style: none;
	font-family: "微软雅黑";
	font-size: 15px;
	color: black;
	border: 1px solid lightgray;
	border-top: none;
	background-color: white;
	text-overflow:ellipsis;
	overflow: hidden;
}
header .login ul li:hover{
	background-color: #eee;
}
header .login ul li:nth-child(1){
	height: 10px;
	border-top:1px solid lightgray;
	border-bottom: none;
	margin-top: 10px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: white;
}
header .login ul li:last-child{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
header .shangsanjiao{
	position: absolute;
	top: calc(100% - 10px);
	right: 20px;
	width: 0;
	height: 0;
	border: 11px solid #e7e8eb;
	border-bottom-color: white;
	z-index: 11;
	display: none;
}
header .gzh-switch{
	position: relative;
	float: right;
	width: 155px;
	margin-right: 50px;
	padding-left: 20px;
	padding-right: 20px;
	height: 50px;
	color: black;
}
header .gzh-switch:hover{
	background-color: #e7e8eb;
}
header .gzh-switch .headimg{
	float: left;
	width: 40px;
	height: 40px;
	margin-top: 5px;
	margin-left: 5px;
	border-radius: 5px;
	display: none;
}
header .gzh-switch .nickname{
	float: left;
	width: 94px;
	line-height: 50px;
	font-family: "微软雅黑";
	font-size: 16px;
	text-align: center;
}
header .gzh-switch ul{
	position: absolute;
	top: 100%;
	right: 0;
	display: none;
	z-index: 10;
}
header .gzh-switch ul li{
	width: 165px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	list-style: none;
	font-family: "微软雅黑";
	font-size: 15px;
	color: black;
	border: 1px solid lightgray;
	border-top: none;
	background-color: white;
	text-overflow:ellipsis;
	overflow: hidden;
}
header .gzh-switch ul li:hover{
	background-color: #eee;
	cursor: pointer;
}
header .gzh-switch ul li:nth-child(1){
	height: 30px;
	line-height: 30px;
	border-top:1px solid lightgray;
	border-bottom: none;
	margin-top: 10px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: white;
	text-align:left;
	text-indent: 1em;
	color: gray;
}

header .gzh-switch:hover .xiasanjiao{
	border-color: #e7e8eb;
	border-top-color: black;
}
header .gzh-switch li img{
	float: left;
	width: 26px;
	height: 26px;
	margin-top: 5px;
	margin-left: 10px;
	border-radius: 50%;
}
header .gzh-switch li span{
	float: left;
	width: 119px;
	line-height: 36px;
	margin-left: 10px;
	text-align:left;
}
header .gzh-switch li a{
	text-decoration: none;
	color: black;
}
header .gzh-switch li:last-child{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.content{
	width: 86%;
	margin: 0 auto;
	margin-top: 40px;
	background-color: white;
	overflow: hidden;
}
.content-left{
	float: left;
	width: 20%;
	padding: 20px 0 40px;
	border: 1px solid lightgray;
	color: black;
	box-sizing: border-box;
}
.content-left .nav-list{
	border-bottom: 1px solid lightgray;
}
.content-left .nav-list ul{
	padding-bottom: 10px;
}
.content-left .last{
	border-bottom:none;
}
.content-left h4{
	width: 100%;
	line-height: 40px;
	padding-left: 40px;
	font-family: "微软雅黑";
	font-size: 16px;
	font-weight: 500;
	color: gray;
}
.content-left li{
	line-height: 40px;
	list-style: none;
	font-family: "微软雅黑";
	font-size: 16px;
	font-weight: 500;
	text-align: center;
}
.content-left li a{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: black;
}
.content-left li:hover{
	background-color: #eee;
	cursor: pointer;
}
.content-left li.active:hover{
	background-color: #44b549;
	color: white;
}
.active{
	background-color: #44b549;
	color: white;
}

.content-right{
	position: relative;
	float: left;
	width: 80%;
	padding: 20px 20px 40px;
	border: 1px solid lightgray;
	border-left: none;
	box-sizing: border-box;
}
.content-right h3{
	width: 100%;
	line-height: 40px;
	font-family: "微软雅黑";
	font-size: 18px;
	font-weight: 500;
}

footer{
	height: 60px;
	width: 100%;
	margin-top: 80px;
	background-color: #b9b9b9;
}
