
.content-right ul{
	border: 1px solid lightgray;
	margin-top: 10px;
}
.content-right li{
	padding: 10px 10px;
	list-style: none;
	border-bottom: 1px solid lightgray;
	overflow: hidden;
}
.content-right li:last-child{
	border-bottom: none;
}
.content-right li span{
	display: block;
	float: left;
	line-height: 30px;
	width: 200px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: gray;
}
.content-right li div{
	float: left;
}
.content-right .gzh-name,
.content-right .message-days,
.content-right .erweima-days{
	line-height: 30px;
	font-family: "微软雅黑";
	font-size: 14px;
}
.content-right .gzh-logo img{
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 10px;
}
